*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

.main{
    width: 100%;
    height: 100%;
    background-color:rgb(160, 199, 160);
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 26% 56% 18%;
}


.tpl{
    padding: 20px;
}

.tpl .square{
    width: 4%;
    height: 10%;
    background-color: #000000;
    rotate: 45deg;
}

.tpr{
    text-align: right;
    padding: 20px;
}

.tpr h4{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 30px;
    font-family: 'Arial', sans-serif;
}

.tpr h5{
    font-size: 13px;
    font-weight: 500;
    font-family: 'Arial', sans-serif;
}



.lcenter{
    grid-column: 1/3;
}

.lcenter h1{
    font-size: 5.6vw;
    font-weight: 500;
    font-family: 'Velvetica', sans-serif;
    padding: 30px;
    padding-left: 110px;
    line-height: 2vw;
}

.lcenter h1:nth-child(2n){
    text-align: center;
}

.lbottom{
    grid-column: 1/3;
    padding: 25px;
}

.lbottom p{
    width: 70%;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Arial', sans-serif;
}

.right{
    background-color: #ff9100;
    grid-row: 1/4;
    grid-column: 3;;
}
