*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

.main{
    padding: 5px;
    width: 100%;
    height: 100%;
    background-color:#f5ffea;
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 26% 56% 18%;
}


.tpl{
    padding: 20px;
}

.tpl .square{
    width: 4.1%;
    height: 10%;
    background-color: #000000;
    rotate: 45deg;
}

.tpr{
    text-align: right;
    padding: 20px;
}

.tpr h4{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
    font-family: 'Arial', sans-serif;
}

.tpr h5{
    font-size: 15px;
    font-weight: 500;
    font-family: 'Arial', sans-serif;
}



.lcenter{
    grid-column: 1/3;
    grid-row: 2;
    padding: 0 100px;
}

.lcenter h1{
    font-size: 5vw;
    font-weight: 500;
    font-family: 'Velvetica', sans-serif;
    line-height: 5vw;
    letter-spacing: 0.21em; 
}

.lcenter h1:nth-child(2n){
    text-align: center;
}

.lbottom{
    grid-column: 1/3;
    grid-row: 3;
}

.lbottom p{
    width: 70%;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Arial', sans-serif;
}

.right{
    grid-row: 1/4;
    grid-column: 3;
}

.right video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: none;
    border-radius: 3px;
}


.arrow{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: orangered;
    color: white;
    font-weight: 500;
    font-size: 22px;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:600px) {
    .main{
        grid-template-columns: 50% 50%;
        grid-template-rows: 12% 26% 12% 50%;
    }

    

    .tpl{
        padding: 10px;
    }
    
    .tpl .square{
        width: 4%;
        height: 10%;
        rotate: 45deg;
    }


    .tpr{
        text-align: right;
        padding: 10px;
    }
    
    .tpr h4{
        font-size: 10px;
        margin-bottom: 6px;
        font-family: 'Arial', sans-serif;
    }
    
    .tpr h5{
        font-size: 8px;
        font-family: 'Arial', sans-serif;
    }


    .lcenter{
        grid-column: 1/3;
        grid-row: 2;
        padding: 10px 30px 30px 30px;
    }
    
    .lcenter h1{
        font-size: 9vw;
        font-weight: 500;
        font-family: 'Velvetica', sans-serif;
        letter-spacing: 0.1em;
        line-height : 10vw;
        padding: 0px;
    }
    
    .lcenter h1:nth-child(1n){
        text-align: left;
    }
    .lcenter h1:nth-child(2n){
        text-align: right;
    }

    
    .lbottom p{
        font-size: 2.8vw;
        padding : 5px;

    }

    .right{
        grid-row: 4;
        grid-column: 1/3;
    }
    
    
    .right video{
        height: 100%;
    }
    

    .arrow{
        height: 40px;
        width: 40px;
        left: 88%;
        color: white;
        transform: translate(-88%,-50%);
    }

    .arrow i{
        rotate: 90deg;
    }
}
