*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

.main{
    width: 100%;
    height: 100%;
    background-color:rgb(160, 199, 160);
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 25% 50% 25%;
}


.tpl{
    background-color: #cdff03;;
}

.tpr{
    background-color: #ff0000;
}


.lcenter{
    background-color: #009f9a;
    grid-column: 1/3;
}

.lbottom{
    background-color: #ff00ff;
    grid-column: 1/3;
}

.right{
    background-color: #ff9100;
    grid-row: 1/4;
    grid-column: 3;;
}
